body {
    background-image: url("../images/psychic-mind.jpg");
}

#container {
    margin: 100px auto;
    width: 100%;
    max-width: 960px;
    font-family: 'Abril Fatface', cursive;
    text-align: center;
    font-size: 40px;
    color: aqua;
    font-weight: bolder;
    text-shadow: 5px 5px darkblue;
    
}